* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'inter', sans-serif;
}

body {
    background-color: rgb(244, 244, 244);
    }

main {
    margin: 0% auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main .title{
    color: rgb(125, 125, 125);
    text-align: center;
}


h3 {
    font-size: 1rem;
    font-weight: 400;
    margin: 15px;
}

.inputs {
    text-align: center;
    display: block;
}


input {
    text-align: center;
    margin: 8px;
    display: flex;
    width: 298px;
    height: 45px;
    padding: 7px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 0.2px solid var(--Gray-1, #C3C3C3);
    background: #FFF;
    box-shadow: 0px 0px 15.7px 0px rgba(0, 0, 0, 0.05);
}


input:hover {
    border: 0.2px solid var(--Gray-1, #7c7c7c);
    transition: 4ms
}


input:last-child {
    background-color: rgb(28, 28, 28);
    color: #FFF;
}



input:focus::placeholder {
    opacity: 0%;
}